* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-wrapper {
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  /* height: 100vh; */
  aspect-ratio: 16 / 9;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.4;
    transition: opacity 250ms ease;
}
.slider-nav a:hover{
    opacity: 1;
}