.body {
  padding: 0;
  margin: 0;
  background: grey;
}
.slider-frame {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}

@keyframes slide {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.slide-imgs {
  width: 3600px;
  margin: 0 0 0 -2400px;
  position: relative;
  animation: slide 33s infinite alternate;
  animation-play-state: running;
}

.img-container {
  width: 1200px;
  position: relative;
  float: left;
}
img {
  width: 100%;
}
